*{
	margin: 10;
	padding: 0;
	box-sizing: border-box;
}
:root{

	--primary-light: #6467d3;
	--primary: #f42a9c;
	--dark: #131214;
	--light: #fff;
	--gray: #f7f7f7;
	--boarder: #4c4d63;

}
body{
	font-family: sans-serif;
	background-color: var(--primary-light);
	min-height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px;
}
.app{
	width: 100%;
	min-height: 65vh;
	max-width: 600px;
	background-color: #f7f7f7;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0 30px 40px rgba(0, 0, 0, 0.3);
}
header{
	background-color: var(--primary);
	color: var(--light);
	padding: 20px 25px;
}
header h1{
	font-size: 28px;
	margin-bottom: 5px;
	font-weight: 600;
}
header p{
	font-size: 18px;
	opacity: 0.9;

}
.todo-input{
	padding: 20px 25px;
	display: flex;
	gap: 10px;
	background-color: var(--light);
	border-bottom: 1px solid var(--boarder);
}
.todo-input input{
	flex: 1;
	padding: 12px 15px;
	border: 1px solid #697eb8;
	font-size: 1rem;
	transition: all 0.2s;
	border-radius: 6px;
}
.todo-input focus{
	outline: none;
	border-color: var(--primary);
	box-shadow: 0 0 0 3px rgba(119, 73, 250, 0.1);
}
.todo-input button{
	background-color: var(--boarder);
	color: white;
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	transition: all 0.2s;
}
.todo-input button:hover{
	background-color: var(--primary-light);
}
.filters{
	padding: 15px 25px;
	gap: 15px;
	border-bottom: 1px solid var(--boarder);
	display: flex;
}
.filter{
	padding: 5px 3px;
	cursor: pointer;
	color: var(--dark);
	border-bottom: 2px solid transparent;
	transition: all 0.2s;

}
.filter.active{
	color: var(--primary);
	border-bottom: 2px solid var(--primary);
	padding: 5px 3px;
}


.todo-item{
	padding: 12px 15;
	display: flex;
	align-items: center;
	transition: 0.2s;
	background-color:var(--gray);
}
.checkbox-container{
	margin-right: 20px;
	background-color:var(--gray);

}
.todo-checkbox{
	margin-left: 20px;
	opacity: 1;
	position: absolute;
	width: 19px;
	height: 19px;
	border-radius: 8px;
}
.checkmark{
	margin-left: 20px;
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 2px solid var(--boarder);
	border-radius: 4px;
	position: relative;
	cursor: pointer;
	transition: all 0.2s;
}

.todo-item-test{
	flex: 1;
	font-size: 19;
	transition: 0.2s;
}
.todo-item.completed .todo-item-text{
	text-decoration: line-through;
	font-family: 'Franklin Gothic Medium';
	color: var(--dark);

}

